<!--- FOOTER (PIE DE PÁGINA)-->
<footer style="color: rgb(77, 74, 74)" id="footer">
    <div>
        <img class="logo" src="/images/icon/logo-lapab-black-txt.png" alt="Logo"> 
        <div class="footer-social">
            <a href=""><img src="/images/iconos_footer/github-icon-2.svg" alt="Github"></a>
            <a href=""><img src="/images/iconos_footer/twitter_5969020.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/lapab_uach/" target="_blank"><img src="/images/iconos_footer/instagram.png" alt="Instagram"></a>
            <a href=""><img src="/images/iconos_footer/linkedin_2504923.png" alt="LinkedIn"></a>
        </div>
    </div>
    <div >
        <h3>Contacto</h3><br>
        Laboratorio de Procesos Acoplados Biofísicos
        IP: Andrea Piñones
        <br> Email: andrea.pinones@uach.cl
        <br> Instituto de Ciencias Marinas y Limnológicas
        <br> Universidad Austral de Chile (UACh)
        <br> Avda Rector Eduardo Morales Miranda 23, Valdivia, Región de los Ríos.
        <p >©LaPAB | Designed & Developed F. Javier Zamora - @elgatobarista </p>
        <div class="footer-links">
            <a href="#footer" onclick = "avisoLegal()">Politica de Privacidad -</a>
            <a href="#footer" onclick="cookies()">Politica de Cookies</a>
        </div>
    </div>
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3064.9844555811674!2d-73.25281368334542!3d-39.80734047736594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9615eddda9759d8f%3A0x372d280226093c64!2sEdificio%20Emilio%20Pug%C3%ADn%2C%20Facultad%20de%20Ciencias%2C%20UACh!5e0!3m2!1ses!2scl!4v1714431373219!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <script>
        function cookies() {
          alert("Soy una cookie molesta... ¡Acéptame!");
        }
        function avisoLegal() {
          alert("La protección de datos es importante.");
        }
    </script>
</footer>
