
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");


* {
    font-family: "Roboto", sans-serif;
}

a {
    color: inherit;      /* Let the color be the same as its parent */
    text-decoration: none; /* Remove underline */
    background-color: transparent; /* Remove any background color */
    font-style: normal; /* Reset font style */
    font-weight: normal; /* Reset font weight */
    line-height: normal; /* Reset line height */
    text-transform: none; /* Reset text transformation */
    letter-spacing: normal; /* Reset letter spacing */
    word-spacing: normal; /* Reset word spacing */
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: #190733; 
    letter-spacing: 1px; 
}

h1 {
    font-size: 2.5em; 
}

h2 {
    font-size: 2em; 
}

h3 {
    font-size: 1.5em; 
}

h4 {
    font-size: 1.2em; 
}


a {
    text-decoration: none;
}

a:hover{
    color: rgb(155, 153, 153);
}

.titulo{
    color: white;
}
body{
    margin: 0;
    text-align: center;
}

body *{
    margin: auto;
}

body p{
    margin:50px;
}

.body-index{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.body-index aside {
    list-style-type: circle;
    float: right;
    margin: 10px;
    margin-right: 5%;
    padding: 10px;
    vertical-align: top;
    max-width: 25%;
    height: auto;
    width: auto;
    background-color:rgb(234, 229, 229);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.body-index h1{
    margin-top:20px;
}

.body-index section{
    margin: 10px;
    width: 65%;
    display: inline-block;
    padding-top: 30px;
}

#button-auth{
    margin: 10px;
    margin-right: 20px!important;
    padding: 10px;
    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    float: right;
}

#button-auth:hover{
    cursor: pointer;
    background-color: #190733;
    color: white;
}

#button-auth i{
    font-size: 2em;
}

#button-show{
    text-align: center;
    border-radius: 90px;
    margin:auto;
    width: 50px;
    height: 50px;
    background-image: url(../../images/icon/left-arrow.svg);
    transform: rotate(180deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(245, 240, 240);
    float: left;
    position: relative;
    right: 30px;
}

#button-show:hover{
    cursor: pointer;;
}

.button-add, .button-delete{
    padding: 10px;
    margin: 20px auto 20px;

    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 50px;
    display: block;
}

.button-delete {
    border: 1px solid black;
}

.button-delete:hover{
    border: red 2px solid;
}

#button-edit{
    border-radius: 90px;
    background-color: rgb(255, 255, 255);
    border: rgb(137, 137, 137) 0.5px groove;
}

#button-edit:hover{
    background-color: rgb(190, 190, 190);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.entrada p{
    margin:5px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.equipo{
    width: 90vw;
}

.equipo>div, .opinion {
    display: inline-block;
    width : 250px;
    height: auto;
    background-color: #f0f0f0;
    padding: 20px;
    vertical-align: top;
    margin: 10px;
    transition: all 1.2s ease 0s; 
}

.equipo div img, .opinion img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease 0s;
}

.equipo div p, .opinion p{
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

.equipo h2{
    margin-top: 30px;
}

.equipo div h3{
    border-top: 2px groove white;
    padding-top: 10px;
}


/* Estilos del footer */
footer {
    background-color: #ddd; /* Color de fondo en hover - neutro */
    color: #fff; /* Texto en color blanco */
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    box-shadow: inset 0 10px 20px -10px rgba(0, 0, 0, 0.5);
    padding: 50px 0px 50px 0px;
}

footer>div{
    border-right: 1px solid rgb(255, 255, 255);
    padding-right: 3%;
}


.footer-social a img {
    max-width: 30px;
    height: auto;
    margin-right: 5px;
    margin-top: 10px;
    transition: all 0.2 ease 0;
}

.footer-social a img:hover {
    transform:scale(1.2);
}

.footer-links a {
    color: rgb(35, 34, 34);
    text-decoration: none;
    margin-right: 10px;
}

.flex-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.formulario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
}

.formulario h2{
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 40px;
}

form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
}

form input[type="email"],
form input[type="text"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
form textarea {
    resize: vertical;
}
form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 5px;
}

form input[type="reset"]{
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}


form input[type="reset"]:hover{
    background-color: brown;
}

.fotoform {
    float: left;
    margin-right: 20px;
}
.fotoform img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    overflow: hidden;
    width: 90%;
    grid-gap: 5px;
    margin: auto;
}

#grid-container div {
    background-color: #fffdfd;
    text-align: center;
    color: black;
}

#grid-container div img{
    width: 100%;
    transition: all 0.5s ease 0s;
    margin: 0px;
}

#grid-container:hover div img{
    opacity: 0.7;
}

#grid-container div img:hover{
    opacity: 1;
}

#grid-container .large {
    grid-column: span 2;
    grid-row: span 2;
}

header {
    font-family: "Roboto", sans-serif;
    text-align: right;
    min-height: 100px;
    padding: 20px 0px 20px 10vw;
    background-color: rgb(234, 229, 229);
    display: flex;
    box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.5);
}
header .logo{
    float: right;
    margin-right: 10vw;
}

/*Experimental: se ha desplazado un 10% a la izquierda. Pero como esto provocaba que se
metiese dentro del logo, se ha ampliado el margen*/
header > div {
    position:relative;
    left: 10%;
    margin-right: 10%;
}

header h1, header h2, header h3{
    color: rgb(35, 34, 34)
}

header h1{
    font-weight: 200;
    font-size: 3em;
}

header h2{
    font-weight: 50;
    font-size: 2em;
}

iframe, .maps iframe {
    height: 250px;
    width: 400px;
    border-radius: 10px;
    max-width: 100%;
    float: bottom;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.instituciones-titulo {
    text-align: center;
    text-align: 32px;
}
.imagenes-instituciones {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.imagenes-instituciones div {
    width: 30vw;
    height: 200px;
    overflow: hidden;
    margin: -5px; 
    transition: all 0.5s ease 0.1s;
}

.imagenes-instituciones img{
    width:100%;
    height: 100%; 
    object-fit: cover; 
}

.imagenes-instituciones a img:hover {
        transform:scale(1.2);
}

.imagenes-somos {
    display: flex;
    margin-bottom: 30px;
  }
  
.imagenes-somos div {
    width: 30vw;
    height: 200px;
    overflow: hidden; 
    margin: -5px; 
    transition: all 0.5s ease 0.1s;
  }
  
.imagenes-somos img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.imagenes-somos div:hover{
    transform: scale(1.3);
    z-index: 11;
}

img {
    display: inline-block;
    width: 350px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.index-section h4{
    font-size: 1.5em;
    color: rgb(135, 140, 161);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.index-section p{
    font-size: 1.2em;
}

.index-section{
    width: 90vw;
    max-width: 1500px;
}

.logo {
    max-width: 200px;
}

.maps{
    display:flex;
    justify-content: space-between;
    margin: 40px 20px 40px 20px;
  }

.maps iframe {
    height: 250px;
    width: 450px;
    border-radius: 10px;
  }

nav {
    background-color: rgba(245, 245, 245, 1);
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    font-family: Arial, sans-serif; 
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px;
    display: inline-block;
    margin: 20px;
    font-size: 1.2em; /* Aumento de tamaño de fuente */
    color: #333; /* Color de texto - neutro */
    position: relative;
    transition: all 0.3s ease; /* Transición suave */
}

nav ul li a {
    text-decoration: none;
    color: inherit; /* Hereda el color del padre */
}

nav ul li:hover {
    font-size: 1.3em; /* Tamaño de fuente aumentado en hover */
    background-color: #ddd; /* Color de fondo en hover - neutro */
    border-radius: 20px;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #f0f0f0; /* Color de fondo del submenú - neutro */
    padding: 10px 0; /* Espacio interno del submenú */
    border-radius: 0 0 5px 5px; /* Bordes redondeados en la parte inferior */
}

nav ul li ul li, nav ul li ul li:hover {
    font-size: 1em; /* Tamaño de fuente del submenú */
    margin: 2px 0px 2px 0px;
}

nav ul li:hover ul {
    display: block
}

.nivel_estudios{
    display: inline-block;
    margin-left: 40px;
}
.noticia-img {
    background-image: url(../../images/noticias-img/congreso.jpg);
    display: flex;
    align-items: center;
    height: 50vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 40px;
    margin-top: 50px;
}

.noticia-ol{
    text-align: center;
    list-style: none;
}

.img-noticias{
    background-image: url(../../images/noticias-img/fondo-noticias.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.noticia {
    min-width: 250px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 470px;
    height: 440px;
    flex: 0 1 calc(30% - 40px);  /*El tamaño inicial del elemento es de 30%. Y se le restan 40px para darle espacio adicional a dicho elemento*/
    /*Por otro lado, flex 1 indica que el elemento puede contraerse para ajustarse en el espacio disponible dentro del contenedor flex*/
    margin-bottom: 100px;
}

.noticia img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

.noticia h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
    text-align: center;
}

.noticia a{
    color: black;
}


.ocultar-big-screen, .mostrar-moviles{
    display: none;
}

.papers{
    display: block;
    list-style-type: none;
    text-align: left;
    padding-right: 5px;
}

.papers li{
    border-bottom: 3px solid rgb(67, 83, 147);
    padding: 10px;
    margin: 10px -10px 30px;
    width: 100%;
    font-size: 0.9em;
}

.papers li a{
    text-decoration: none;
    color: rgb(29, 30, 30);
}

.papers li a:hover{
    text-decoration: none;
    color: rgb(107, 107, 107);
}

.proyecto1{
    font-family: "Roboto", sans-serif;
}
.proyecto1 h1{
    text-align: center;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.proyecto1 h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}
.proyecto1 h3{
    text-align: center;
    font-size: 26px;
}
.proyecto {
    display: inline-block;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    padding: 0px 30px 0px 30px;
    text-align: left;
    font-size: 18px;
}
.proyecto img {
    min-width: 200px;
    width: 30%;
    float: left;
    margin: 0 10px 20px 10px;
    border-radius: 10px;
}



#section-1{
    height: 600px;
}

/*Página de calendario*/

.table{
    text-align: center;
    margin: auto;
    font-family: "Roboto", sans-serif;
}

.table h2{
    font-size: 48px;
    margin-top: 30px;
}

.table {
  
    border-collapse: collapse;
 
  }

.table th, td {
    border: 1px solid black;
    padding: 12px;
    font-size: 16px;
    text-align: center;
  }
  
.table  th {
    background-color: rgba(15, 24, 41, 0.904);
    color: white;
    font-size: 22px;
  }

.table a{
    color: black;
}

.table a:hover{
    color: rgba(15, 24, 41, 0.904);
}


/*Para evitar saturar la página de contenido, facilitaremos el acceso a la tesis cambiando el display*/
#tesista .tesis, #tesista:hover .comentario{
    display : none;
}

.tesis, #tesista:hover img, #tesista:hover h3, #tesista:hover span{
    transform: rotateY(180deg);
}


#tesista:hover{
    transform: rotateY(180deg);
}

#tesista:hover .tesis{
    display: block;
    font-size: 1.2em;
}

#tesista .comentario{
    font-size:1.2em;
    padding:5px;
    font-style: italic;
    max-width: 80%;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}

#titular-1{
    background-image: url(../../images/resource/antartica-17.jpg);
}

#titular-2{
    background-image: url(../../images/resource/antartica-2.jpg);
}


.titular-section{
    width:100%;
    background-image: url(../../images/noticias-img/foca.jpg);
    background-position: 0px -200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.titular-section h2{
    width: 80%;
    font-size: 3em;
    padding-top:40px;
    padding-bottom: 30px;
    font-weight: 150px;
    color: white;
    border-bottom: 1px groove rgb(255, 255, 255);
}


/* CUANDO EL ANCHO DE LA PANTALLA BAJA DE 800 PÍXELES DE ANCHO*/
@media (max-width: 1050px) {
    aside{
        display: none;
    }

    aside.papers li{
        display: inline; 
    }

    .body-index section{
        width: 90%;
        display: block;
        margin: 3%;
    }

    .equipo div, .estudiantes div{
        width:60vw; 
       
    }

    footer>div{
        border-right: none;
    }
    

    #grid-container{
        display: flex;
        flex-wrap: wrap;

    }

    #grid-container div{
        width: 40vw;
        margin: 0px;
    }

    #grid-container div img{
        width:100%;
        margin: 0px;
    }

    #grid-container:hover div img{
        opacity: 0.3;
    }

    #grid-container div img:hover{
        opacity: 1;
    }

   

    header h1, header h2, header h3{
        margin-left: 0%;
    }

    header h2{
        font-size: 1.5em;
    }

    .index-section p, .index-section h4{
        text-align: left;
         margin: 2%;
    }
 
    #main-sec p{
         margin: 1%;
    }

    nav{
        position: static;
    }

    .ocultar-big-screen{
        display:inline-block;
    }

    .ocultar-small-screen{
        display:none;
    }

    #section-1{
        height: auto;
    }

    .table{
        width: 100%;
    }

    .table table{
        margin: 2%;
    }

    .table th, .table td{
        border: 1px solid black;
        padding: 12px;
        font-size: 16px;
        text-align: center;
        max-width: 100px;
      }
    
    .titular-section{
        background-position-y: 30px;
      }
    
    #titular-2{
        background-image: url(../../images/assets/titular-2.jpg);
    }

    #titular-1{
        background-image: url(../../images/assets/titular-1.jpg);
    }
}

/*Solo para móviles*/
@media (max-width: 500px) {

    .titular-section{
        background-attachment: scroll;
    }
    
    footer>div{
        border-right: none;
        border-bottom: 1px solid rgb(255, 255, 255);
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #grid-container div img{
        max-width: 100%;
    }
    
    .mostrar-moviles{
        display:block;
    }

    .mostrar-moviles li ul{
        position: relative;
    }

    .noticia {
        width: 90%;
        height: auto; /* Altura automática para dispositivos móviles */
    }

    .ocultar-moviles{
        display:none;
    }

}