
.login-status{
    text-align: left;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    min-width: 100px;
    border: 1px solid #000000;
    min-height: 70px;
}

.login-status:hover{
    background-color: #c9c9c9;
}

@media screen and (max-width: 900px){
    .login-status{
        text-align: center;
     
        min-height: 200px;
    }
}
