<%- include('../includes/navigation.ejs') %>


<body class="body-index">
    <h1 class="titulo-noticia">7º Congreso de Oceanografía Física, Metereología y Clima del Pacífico Sur Oriental</h1>
    <div class="noticia-img">

    </div>
    <section class="index-section">
        <h4> Explorando la Ciencia del Pacífico Sur Oriental: Resumen del 7º Congreso de Oceanografía Física,
            Meteorología y Clima
        </h4>
        <p>En un esfuerzo por abordar los desafíos científicos cruciales en el área de la oceanografía física,
            meteorologíca y
            climatica del Pacífico Sudoriental, el Grupo de Trabajo Dinámico Océano-Atmósfera (GT DOCA), del Comité
            Oceanográfico
            Nacional (CONA), se complace en organizar el 7º Congreso de esta índole. El evento se llevará a cabo en
            colaboración
            con la Facultad de Recursos Renovables de la Universidad Arturo Prat en Iquique. Este congreso tiene como
            objetivo
            principal fomentar la discusión, el análisis y la colaboración científica en torno a temas cruciales para
            esta
            región.
        </p>
        <p>
            El Congreso ofrecerá una plataforma única para reunir a investigadores nacionales e internacionales
            interesados en la dinámica oceano-atmósfera del Pacífico Sur Oriental. Más que un foro académico, este
            evento busca fortalecer investigaciones actuales, motivar nuevos proyectos colaborativos y estimular la
            participación de estudiantes en investigación científica.
        </p>
        <p>
            Las áreas temáticas clave que se abordarán durante el Congreso incluyen:
        </p>
        <ol type="1" class="noticia-ol">
            <li><h3>Climatología y Cambio Global</h3> </li>
            <p>Análisis de patrones climáticos en la región del Pacífico Sur Oriental.
                Impactos del cambio climático en los sistemas oceánicos y atmosféricos locales.</p>
            <li><h3>Oceanografía Física y Dinámica Océano-Costa</h3></li>
            <p>Estudio de las corrientes oceánicas y su interacción con la costa.
                Modelado de la circulación oceánica y su influencia en el clima regional.</p>
            <li><h3>Energías Renovables</h3></li>
            <p>Exploración de oportunidades y desafíos en energía renovable marina.
                Potencial de la energía oceánica como una fuente sostenible de energía.</p>
            <li><h3>Interacciones Físico-Biológicas en el Océano</h3></li>
            <p>Análisis de la relación entre factores físicos (temperatura, salinidad, corrientes) y procesos biológicos
                (productividad, biodiversidad).</p>

        </ol>
        <p>
            Este congreso contará con la presencia de destacados expertos tanto nacionales como internacionales en cada
            una de estas áreas, quienes compartirán sus investigaciones más recientes y sus perspectivas sobre los
            desafíos futuros en la ciencia oceánica y atmosférica del Pacífico Sur Oriental.
        </p>

        <p>
            A través de este evento, se espera que se fomente la colaboración interdisciplinaria y se promueva el
            desarrollo de soluciones innovadoras para abordar los complejos problemas ambientales y climáticos que
            enfrenta esta región única del mundo. Además, se anima a los estudiantes de pregrado y postgrado a
            participar activamente, no solo como receptores de conocimiento, sino como contribuyentes valiosos al
            progreso científico en estas áreas críticas.
        </p>
        <p>
            El 7º Congreso de Oceanografía Física, Meteorología y Clima del Pacífico Sur Oriental promete ser una
            oportunidad enriquecedora para avanzar en nuestro entendimiento de esta vasta y compleja región, así como
            para inspirar acciones concretas hacia la conservación y el uso sostenible de nuestros recursos marinos y
            atmosféricos.
        </p>
        <p>
            ¡Esperamos con entusiasmo este evento y la invaluable contribución que cada participante hará para avanzar
            en la ciencia y la investigación en el Pacífico Sur Oriental!
        </p>

    </section>





</body>

<!--- FOOTER (PIE DE PÁGINA)-->
<%- include('../includes/footer') %>

</html>