<%- include('../includes/navigation.ejs') %>

<body class="body-index">

    <div class="formulario">
        <h2>¡Contacta con nosotros!</h2>
        <form>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono">
        
            <label for="pais">País:</label>
            <select id="pais" name="pais">
                <option value="chile">Chile</option>
                <option value="argentina">Argentina</option>
                <option value="brasil">Paraguay</option>
                <option value="espana">España</option>
                <option value="mexico">México</option>
            </select>
        
            <label for="texto_grande">Escribe algo:</label>
            <textarea id="texto_grande" name="texto_grande" rows="4" cols="50" placeholder="¿En qué podemos ayudarte?"></textarea>
        
            <label for="nivel_estudios">Nivel de estudios:</label><br>
            <input type="radio" id="grado_universitario" clas="nivel_estudios" value="grado_universitario"> Grado Universitario
            <input type="radio" id="magister" class="nivel_estudios" value="magister"> Magíster
            <input type="radio" id="doctorado" class="nivel_estudios" value="doctorado"> Doctorado<br>
            <input type="radio" id="postdoctorado" class="nivel_estudios" value="postdoctorado"> postdoctorado
            <input type="radio" id="otros" class="nivel_estudios" value="otros"> Otros<br><br>
            
            <label for="terminos">
                <input type="checkbox" id="terminos" name="condiciones" required>
                Acepto los términos y condiciones
            </label>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </form>
    </div>
</body>

<!--- FOOTER (PIE DE PÁGINA)-->
<!--- FOOTER (PIE DE PÁGINA)-->
<footer style="color: rgb(77, 74, 74)" id="footer">
    <div>
        <img class="logo" src="img/icon/logo-lapab-black-txt.png" alt="Logo"> 
        <div class="footer-social">
            <a href=""><img src="img/iconos footer/github-icon-2.svg" alt="Github"></a>
            <a href=""><img src="img/iconos footer/twitter_5969020.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/lapab_uach/" target="_blank"><img src="img/iconos footer/instagram_2111463.png" alt="Instagram"></a>
            <a href=""><img src="img/iconos footer/linkedin_2504923.png" alt="LinkedIn"></a>
        </div>
    </div>
    <div >
        <h3>Contacto</h3><br>
        Laboratorio de Procesos Acoplados Biofísicos
        IP: Andrea Piñones
        <br> Email: andrea.pinones@uach.cl
        <br> Instituto de Ciencias Marinas y Limnológicas
        <br> Universidad Austral de Chile (UACh)
        <br> Avda Rector Eduardo Morales Miranda 23, Valdivia, Región de los Ríos.
        <p >©LaPAB | Designed & Developed by UNIR 1ºDAM Grupo 3 </p>
        <div class="footer-links">
            <a href="#footer" onclick = "avisoLegal()">Politica de Privacidad -</a>
            <a href="#footer" onclick="cookies()">Politica de Cookies</a>
        </div>
    </div>
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3064.9844555811674!2d-73.25281368334542!3d-39.80734047736594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9615eddda9759d8f%3A0x372d280226093c64!2sEdificio%20Emilio%20Pug%C3%ADn%2C%20Facultad%20de%20Ciencias%2C%20UACh!5e0!3m2!1ses!2scl!4v1714431373219!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <script>
        function cookies() {
          alert("Soy una cookie molesta... ¡Acéptame!");
        }
        function avisoLegal() {
          alert("La protección de datos es importante.");
        }
    </script>
</footer>
</html>