<%- include('../includes/navigation.ejs') %>

<body class="body-index">

    <div class="formulario">
        <h2>¡Contacta con nosotros!</h2>
        <form>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono">
        
            <label for="pais">País:</label>
            <select id="pais" name="pais">
                <option value="chile">Chile</option>
                <option value="argentina">Argentina</option>
                <option value="brasil">Paraguay</option>
                <option value="espana">España</option>
                <option value="mexico">México</option>
            </select>
        
            <label for="texto_grande">Escribe algo:</label>
            <textarea id="texto_grande" name="texto_grande" rows="4" cols="50" placeholder="¿En qué podemos ayudarte?"></textarea>
        
            <label for="nivel_estudios">Nivel de estudios:</label><br>
            <input type="radio" id="grado_universitario" clas="nivel_estudios" value="grado_universitario"> Grado Universitario
            <input type="radio" id="magister" class="nivel_estudios" value="magister"> Magíster
            <input type="radio" id="doctorado" class="nivel_estudios" value="doctorado"> Doctorado<br>
            <input type="radio" id="postdoctorado" class="nivel_estudios" value="postdoctorado"> postdoctorado
            <input type="radio" id="otros" class="nivel_estudios" value="otros"> Otros<br><br>
            
            <label for="terminos">
                <input type="checkbox" id="terminos" name="condiciones" required>
                Acepto los términos y condiciones
            </label>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </form>
    </div>
</body>

<!--- FOOTER (PIE DE PÁGINA)-->
<!--- FOOTER (PIE DE PÁGINA)-->
<%- include('includes/footer') %>
</html>