<%- include('../includes/navigation.ejs') %>


<body>
    <section class="equipo">
        <h2> Nuestro equipo </h2>

        <div class="opinion" id="equipo-trabajo">
            <img src="img/equipo/andrea.jpg" alt="Foto de la persona" class="foto">
            <h3>Andrea Piñones</h3><br>
            <span> <b>Oceanógrafa PhD. Académica ICML. Investigadora Responsable Proyecto FONDECYT Regular 1210988.</b> <br><br></span>
            <span class="biografia"> Investigadora asociada centro IDEAL, COPAS Coastal,
                Instituto Milenio BASE.
            </span>
        </div>

        <div class="opinion">
            <img src="img/equipo/paula.jpg" alt="Foto de la persona" class="foto">
            <h3>Paula Amador-Véliz</h3><br>
            <span><b> Encargada de Laboratorio y Asistente de Investigación Proyecto Fondecyt Regular 1210988. </b><br><br></span>
            <span class="biografia"> Especialista en acoplamiento biofísico en altas latitudes: interacción céano-atmósfera.
            </span>
        </div>

        <div class="opinion">
            <img src="img/equipo/david.jpg" alt="Foto de la persona" class="foto">
            <h3>David Donoso</h3><br>
            <span> <b>Profesor agregado de Oceanografía Física en la PUCV.</b><br><br></span>
            <span class="biografia"> Modelador numérico del Océano Austral en Instituto Milenio Base y en Proyecto FONDECYT 1210988.
            </span>
        </div>

        <div class="opinion">
            <img src="img/equipo/octavio.jpg" alt="Foto de la persona" class="foto">
            <h3>Octavio Mercado-Peña</h3><br>
            <span> <b>Analista de datos oceanográficos para el centro de investigación COPAS COASTAL y LaPAB.</b><br><br></span>
            <span class="biografia">Universidad de Concepción y Universidad Austral de Chile, respectivamente.
                Especialista en Olas de Calor y Frío Marinas, acoplamiento océano-atmósfera y biofísico.  
            </span>
        </div>

        <div class="opinion">
            <img src="img/equipo/daniela.jpg" alt="Foto de la persona" class="foto">
            <h3>Daniela Rojas-Rojas </h3><br>
            <span><b> Analista de datos SIG para el LaPAB proyecto Fondecyt Regular 1210988.</b><br><br></span>
            <span class="biografia">Especialista en teledetección, Macroalgas, Olas de Calor Marinas.  
            </span>
        </div>



    <h2> Experiencia de nuestros estudiantes </h2>
   

    <div class="opinion" id="tesista">
        <img src="img/equipo/retrato-silueta.png" alt="Foto de la persona" class="foto">
        <h3>Manuela Flores </h3>
        
         <span class="tesis" target="_blank"><br>
            Tesis de pregrado en Biología Marina, UACh  <br><br>
            <a href="investigation/abstract2017_INI_eng.pdf" target="_blank">"Perturbación antrópica en las tramas tróficas antárticas y ecorregionalización del Océano Austral (50-80º S)”
                Doctorado en Oceanografía-Universidad de Concepción. 2022"</a>
        </span>
        <div class="comentario">"Estoy impresionada por la calidad de los recursos y equipos disponibles en el laboratorio."</div>
    </div>

    <div class="opinion" id="tesista">
        <img src="img/equipo/albert-palomino.jpeg" alt="Foto de la persona" class="foto">
        <h3>Albert Palomino-Gonzalez </h3>
        
         <span class="tesis" target="_blank"><br>
            Tesis de doctorado en Biología Marina UACh <br>
            <br><a href="investigation/abstract2017_INI_eng.pdf">Influencia de factores atmosféricos y oceanográficos en la dinámica de población local de los pingüinos pigoscélidos”</a>
        </span>
        <div class="comentario">"Me siento afortunado de formar parte de un laboratorio que promueve el desarrollo profesional y académico de sus miembros."</div>
    </div>

    <div class="opinion" id="tesista">
        <img src="img/equipo/jason.jpg" alt="Foto de la persona" class="foto">
        <h3>Jaison A. Martínez Nopai </h3>
        
        <span class="tesis" target="_blank"><br>
            Tesis de pregrado en Biología Marina, UACh <br>
            <br><a href="investigation/abstract2017_INI_eng.pdf">"Influencia de la circulación oceánica en rutas de transporte del krill antártico (Euphausia superba) en la península antártica occidental”</a>
        </span>
        <div class="comentario">"El apoyo del equipo de investigación en el laboratorio ha sido fundamental para mi proyecto de tesis."</div>
    </div>
        
    <div class="opinion" id="tesista">
        <img src="img/equipo/jennifer.jpg" alt="Foto de la persona" class="foto">
        <h3>Jennifer Villarroel-Nenen </h3>
        
        <span class="tesis" target="_blank"> <br>
            Tesis de pregrado Geofísica- Universidad de Concepción
            <br><br>   <a href="investigation/abstract2017_INI_eng.pdf" target="_blank">"Estudio de la variabilidad espacial y temporal de la marea en el nivel del mar y transporte de partículas lagrangianas en regiones costeras de la Península Antártica Occidental (PAO)"</a>
        </span>
        <div class="comentario">"La dirección del laboratorio fomenta un ambiente de aprendizaje continuo y de superación personal."</div>
    </div>

    <div class="opinion" id="tesista">
        <img src="img/equipo/alejandra.png" alt="Foto de la persona" class="foto">
        <h3>Alejandra Espinosa Espinosa </h3>
        
         <span class="tesis" target="_blank"> <br>
            Estudiante de Pregrado de Biología Marina en Universidad Autónoma de Baja California Sur, México
            <br>   <a href="investigation/abstract2017_INI_eng.pdf" target="_blank"> <br>"Estudio de la variabilidad espacial y temporal de la marea en el nivel del mar y transporte de partículas lagrangianas en regiones costeras de la Península Antártica Occidental (PAO)"</a>
        </span>
        <div class="comentario">"Colaboradora del proyecto
            “Análisis de la fenología de Pingüino barbijo (Pygoscelis antarctica) por medio del uso de cámaras trampa."</div>
    </div>
    

    <!-- <h2> Colaboradores </h2>-->
   </section> 

</body>

 <!--- FOOTER (PIE DE PÁGINA)-->
 <footer style="color: rgb(77, 74, 74)" id="footer">
    <div>
        <img class="logo" src="img/icon/logo-lapab-black-txt.png" alt="Logo"> 
        <div class="footer-social">
            <a href=""><img src="img/iconos footer/github-icon-2.svg" alt="Github"></a>
            <a href=""><img src="img/iconos footer/twitter_5969020.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/lapab_uach/" target="_blank"><img src="img/iconos footer/instagram_2111463.png" alt="Instagram"></a>
            <a href=""><img src="img/iconos footer/linkedin_2504923.png" alt="LinkedIn"></a>
        </div>
    </div>
    <div >
        <h3>Contacto</h3><br>
        Laboratorio de Procesos Acoplados Biofísicos
        IP: Andrea Piñones
        <br> Email: andrea.pinones@uach.cl
        <br> Instituto de Ciencias Marinas y Limnológicas
        <br> Universidad Austral de Chile (UACh)
        <br> Avda Rector Eduardo Morales Miranda 23, Valdivia, Región de los Ríos.
        <p >©LaPAB | Designed & Developed by UNIR 1ºDAM Grupo 3 </p>
        <div class="footer-links">
            <a href="#footer" onclick = "avisoLegal()">Politica de Privacidad -</a>
            <a href="#footer" onclick="cookies()">Politica de Cookies</a>
        </div>
    </div>
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3064.9844555811674!2d-73.25281368334542!3d-39.80734047736594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9615eddda9759d8f%3A0x372d280226093c64!2sEdificio%20Emilio%20Pug%C3%ADn%2C%20Facultad%20de%20Ciencias%2C%20UACh!5e0!3m2!1ses!2scl!4v1714431373219!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <script>
        function cookies() {
          alert("Soy una cookie molesta... ¡Acéptame!");
        }
        function avisoLegal() {
          alert("La protección de datos es importante.");
        }
    </script>
</footer>
</html>