<%- include('../includes/navigation.ejs') %>

<body class="body-index">
   
    <h1>¡Conoce las últimas noticias del LaPAB!</h1>
    <br>
    <div class="flex-container">
        <div class="noticia">
            <a href="https://www.cooperativa.cl/noticias/pais/region-de-magallanes/antartica/la-foca-de-weddell-da-informacion-vital-para-estudiar-el-oceano-en-la/2023-04-03/160151.html">
                <img src="img/noticias-img/foca.jpg" alt="">
                <h3>La foca de Weddell da información vital para estudiar el océano en la Antártica</h3>
                <div class="texto">
                    Los científicos buscan monitorear las variables hidrológicas de la península, la que es difícil por sus condiciones climáticas.
                </div>
            </a>
        </div>
        <div class="noticia">
            <a href="https://diario.uach.cl/cientificos-obtienen-registros-continuos-de-las-aguas-costeras-en-el-mar-de-ross-bajo-inhospitas-condiciones/">
                <img src="img/noticias-img/foca-2.jpg" alt="">
                <h3>Científicos obtienen registros continuos de las aguas costeras en el Mar de Ross bajo inhóspitas condiciones</h3>
                <div class="texto">
                    A través de una innovadora técnica de muestreo, que consistió en la instalación de sensores en focas de Weddell, se obtuvieron datos de la variabilidad oceánica en las cuatro estaciones del año.
                </div>
            </a>
        </div>
        <div class="noticia">
            <a href="https://www.forbes.com.mx/estudio-advierte-drastica-disminucion-del-krill-antartico-para-el-ano-2100/">
                <img src="img/noticias-img/krill.webp" alt="">
                <h3>Estudio advierte drástica disminución del krill antártico para el año 2100</h3>
                <div class="texto">
                    El krill es un importante organismo para esa región del mundo, por lo que su disminución reestructurará el modo de vida de ese ecosistema.
                </div>
            </a>
        </div>
        <div class="noticia">
            <a href="https://radio.uchile.cl/2020/01/27/se-estrena-documental-chileno-sobre-el-cambio-climatico-en-la-antartica/">
                <img src="img/noticias-img/Científicos-Antartica.png" alt="">
                <h3>Se estrena documental chileno sobre el cambio climático en la Antártica</h3>
                <div class="texto">
                    Ciencia bajo cero, de Rosario Jiménez, es parte de una serie que explora los efectos del fenómeno en el continente blanco.
                </div>
            </a>
        </div>
        <div class="noticia">
            <a href="congreso.html">
                <img src="img/noticias-img/noticias-cona.png" alt="">
                <h3>7º Congreso de Oceanografia Física, Metereología y Clima del Pacífico Sur Oriental</h3>
                <div class="texto">   
                  Organizado por el CONA y la Facultad de Recursos Naturales Renovables de la Universidad Arturo Prat, reunirá expertos para discutir climatología, dinámica oceano-costa, energías renovables e interacciones físico-biológicas en el océano.
                </div>
            </a>
        </div>
        <div class="noticia">
            <a href="https://noticias.udec.cl/cientifica-udec-es-parte-de-juego-de-divulgacion-cientifica-heroinas-oceanicas/">
                <img src="img/noticias-img/heroicasOceanicas.jpg" alt="">
                <h3>Heroícas Oceánicas</h3>
                <div class="texto">
                    Heroínas Oceánicas es un juego de mesa creado por Fundación Mar y Ciencia e inspirado en la historia de 16 científicas de Latinoamérica.
                </div>
            </a>
        </div>
        <div class="noticia">
            <a href="https://noticiasdelaciencia.com/art/47654/explorando-las-incognitas-bajo-el-hielo-de-la-antartida">
                <img src="img/noticias-img/antartida.jpg" alt="">
                <h3>Explorando las incógnitas bajo el hielo de la Antártida</h3>
                <div class="texto">
                    La Antártida, el continente más austral de la Tierra, ha fascinado a los científicos durante décadas debido a sus vastos paisajes helados y su aislamiento extremo.
                </div>
            </a>
        </div>
    </div>
</body>

<!--- FOOTER (PIE DE PÁGINA)-->
<%- include('includes/footer') %>
</html>