<%- include('../includes/navigation.ejs') %>

<body>

    <aside class="publicaciones">
        <%- include('../includes/publicaciones.ejs') %>
    </aside>

    
    <div class="proyectos">

        <h1>Proyectos de Investigación</h1>
        

        <h2>2021 – 2025 Fondecyt Regular (1210988)</h2>
    
        <div class="proyecto">
            <img  src="/images/resource/corporativas/LUCPR02LU0404_620.jpg" alt="Investigación en la Antártida">
            <p>
                Fondecyt Regular es un proyecto que dura cuatro años y cuyo nombre completo es Filling The Gap, 
                caracterización de las condiciones hidrográficas de invierno 
                y la utilización del hábitat en la península antártica nombre utilizando focas instrumentadas 
                y modelación oceanógrafico. 
            </p>
            <p>
                El propósito de este proyecto es entender las condiciones oceanográficas durante el invierno. 
                En invierno es un periodo donde es muy difícil acceder a la Antártida y recabar cualquier tipo de dato.
                La motivación partió para querer conocer lo que sucedía en la Antártida durante los meses que van
                    desde que comienza a irse el sol en otoño hasta su regreso en primavera.
            </p>
            <p>
                La forma de realizar esta investigación, o la forma en la que se trató de entender este 
                proceso fue instrumentalizar a las focas de wedel con gps y con sensores de fluorescencia, 
                un sensor capaz de recabar información para saber cómo de productivo es un ambiente.
            </p>
            <p>
                A día de hoy, todavía queda una tercera campaña por cubrir donde hemos implementado entre 4 y 5 
                focas de wedel con los sensores mencionados anteriormente, aunque el proyecto 
                también incluye una parte de modelación para poder extrapolar los datos puntuales obtenidos 
                a otras regiones de la Antártida.
            </p>
            <p>
                Este proyecto tiene un tercer componente, y es qué pasa con las focas de wedel durante el invierno,
                una parte de la investigación que permitirá crear modelos de hábitat y de utilización de espacio
                entendiendo cuáles son las regiones más importantes desde el punto de vista oceanográfico y biológico. 
            </p>
        </div>


        <h2>2017 – 2021 Fondecyt Iniciación</h2>
    
        <div class="proyecto">
            <img  src="/images/resource/corporativas/WhatsApp Image 2024-04-26 at 10.29.41 (1).jpeg" alt="Investigación sobre corrientes marinas" >
            <p>
                El Fondecyt era un proyecto encargado de entender cómo la intrusiones de agua circumpolar profunda  (CDW por sus siglas en inglés) ingresan a sistemas costeros antárticos. 
            </p>
            <p>
                Para tal fin, se realizaron mediciones de las corrientes marinas para verificar si hay movimiento de agua circumpolar profundas hasta regiones costeras de la Antártida midiendo las corrientes marinas.
            </p>
            <p>
                Durante el proyecto en una de las mediciones se pudo identificar el flujo que ingresa a la bahía y se pudo identificar en qué lugar se ingresaba el agua circumpolar profunda. 
            </p>
            <p>
                Al año siguiente se pretendía medir en ese punto si efectivamente ingresaba agua o salía agua, incluyendo , además, un componente de modelización numérica para explicar la temporalidad de esta intrusión o si se podía ver. 
            </p>
        </div>

        <h2 class="instituciones-titulo">Instituciones involucradas</h2>
        <div class="imagenes-instituciones">
            <a href="https://www.institutobase.cl/" target="_blank"><img src="/images/proyectos/InstitutoMilenioBase.jpg"></a>
            <a href="https://centroideal.cl/" target="_blank"><img src="/images/proyectos/CentroIdeal.jpg"></a>
            <a href="https://copas-coastal.cl/" target="_blank"><img src="/images/proyectos/CentroCopascoastal.jpg"></a>
            <a href="https://biologiauv.cl/" target="_blank"><img src="/images/proyectos/AnilloSeals.jpg"></a>
        </div>
    </div>
    <!--- FOOTER (PIE DE PÁGINA)-->
    <%- include('../includes/footer') %>


</html>



