<%- include('../includes/navigation.ejs') %>

    

<body class="body-index">
    
    <p>
        <%= member.name %>
    </p>
    
    <p>
        <%= member.descripcion %>
    </p>
    
</body>

 <!--- FOOTER (PIE DE PÃGINA)-->
 <%- include('../includes/footer') %>
</html>